<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onebyone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".finish"></activity>
        <activity android:name=".stageFinal" />
        <activity android:name=".intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".stage3_intro" />
        <activity android:name=".Pop4" />
        <activity android:name=".Pop3" />
        <activity android:name=".Pop2" />
        <activity android:name=".Pop" />
        <activity android:name=".stage3" />
        <activity android:name=".stage2" />
        <activity android:name=".GameOver" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>